<h1>マイページ</h1>
<p>登録情報</p>

<table>
<tbody>
<tr>
<th>氏名</th>
<td><% customer.last_name %><% customer.first_name%></td>
<th>カナ</th>
<td><% customer.last_name_kana %><% customer.first_name_kana%></td>
<th>郵便番号</th>
<td><% customer.postal_code %></td>
<th>住所</th>
<td><% customer.address%></td>
<th>電話番号</th>
<td><% customer.telephone_namber%></td>
<th>メールアドレス</th>
<td><% customer.email %></td>
</tr>

</tbody>
</table>

<p>配送先</p>
<p>注文履歴</p>
