
<p class="text"><font size="20"><strong>About</strong></font></p>
<p class="about-text">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
   お子様からお年寄りの方までお召し上がりいただけるよう、<br>
   様々なバリエーションをご用意しております。<br>
   また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
   ぜひご注文ください。<br></p>
<div class="about-image">
 <%= image_tag 'about.jpg', size: "550x300" %>
</div>