<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>


<h1>新着商品</h1>
<table>
  <thead>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>商品名<br>¥0000</td>
    <td>商品名<br>¥0000</td>
    <td>商品名<br>¥0000</td>
    </tr>
  </tbody>
 </table>
